/node_modules
/public/build
/public/css
/public/js
/public/images
/public/sounds
/public/fonts
/public/vendor
/public/mix-manifest.json
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
